﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> 
<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %> 
<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="asp" Namespace="System.Web.UI" Assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<%@ Import Namespace="Microsoft.SharePoint" %> 
<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VisualWebPart1UserControl.ascx.cs" Inherits="Pentegy.SP.Common.VisualWebPart1.VisualWebPart1UserControl" %>
<asp:TextBox runat="server" ID="tbxPropertyName"></asp:TextBox></br>
<asp:Label runat="server" ID="lblValue">hyh</asp:Label>
<asp:Button ID="btnDoTheStuff" runat="server" OnClick="btnDoTheStuff_Click" Text="testuj wartosc" /></br>
</br>
<asp:TextBox runat="server" ID="txtSetName"></asp:TextBox></br>
<asp:Label runat="server" ID="lblNameValue">zmiana nazwy</asp:Label>
<asp:Button ID="setNamebtn" runat="server" OnClick="setNamebtn_Click" Text="zmien nazwe" /></br>
</br>
<asp:TextBox runat="server" ID="txtSetUrl"></asp:TextBox></br>
<asp:Label runat="server" ID="lblUrlValue">zmiana url</asp:Label>
<asp:Button ID="setUrlbtn" runat="server" OnClick="setUrlbtn_Click" Text="zmien url" /></br>